/* add css styles here (optional) */

.test {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}

.poster{
  width: 100%;
  height: auto;
}

.playButton {
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -30px;
  background-color: #0f1622;
  background-color: rgba(15,22,34,0.9);
  border-radius: 3px;
  content: "";
  height: 60px;
  position: absolute;
  width: 80px;
}
.playButton::after {
  border-right: none;
  border-left: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  border-left-width: 20px;
  content: "";
  position: absolute;
}